<h1>Edit merchant</h1>
<form action="/merchants/<%=@merchant.id%>" method="POST">
  <label for="merchants-name">Name of merchant:</label>
  <input type="text" id="merchants-name" name="name" value="<%=@merchant.name%>">
  <input type="submit" value="Edit merchant">
</form>
