<h1>All Merchants</h1>
<p><a href="/merchants/new">Add new merchant</a></p>
<% for merchant in @merchants %>
  <p>Name of merchant: <%=merchant.name%> | <a href="/merchants/<%=merchant.id%>/edit">edit</a></p>
  <p><a href="/merchants/<%=merchant.id%>">wiew</a></p>
<% end %>
