<h1>Add merchant</h1>
<form action="/merchants" method="POST">
  <label for="merchants-name">Name of merchant:</label>
  <input type="text" id="merchants-name" name="name" required>
  <input type="submit" value="Add new merchant">
</form>
