<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Budget Tracker</title>
</head>
<body>
  <nav><a href="/">Home</a> | <a href="/transactions">All Transactions</a></nav>
  <main>
    <%=yield%>
  </main>
</body>
</html>
