<h1>Add tag</h1>
<form action="/tags" method="POST">
  <label for="tags-name">Name of tag:</label>
  <input type="text" id="tags-name" name="name" required>
  <input type="submit" value="Add new tag">
</form>
