body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(90deg,#14233c 43%,#FA255E);
  background-color: grey;
  font-family: sans-serif;
  color: #FFF;
}

h1 {
  font-size: 3em;
}

header {
  font-size: 4em;
  padding-left: 0.5  em;
}

main {
  display: flex;
  flex: 1;
}

article {
  flex: 1;
  padding: 10px;
}

nav, aside {
    flex: 0 0 12em;
}

nav {
  font-size: 1.2em;
  order: -1;
}

a {
  color: #FA255E;
}

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  color: #000
}

td, th {
  background-color: #FFF;
  text-align: left;
  padding: 12px;
}

/* this is supposed to be involved in making it scale to mobile, but... not working */
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex: 1;
  }
  article {
    flex: 1;
  }
  nav, aside {
    flex: 0 0 12em;
  }
}
