body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(45deg,#14233c 43%,#FA255E);
  background-color: grey;
  font-family: sans-serif;
  color: #FFF;
}

header {
  text-align: center;
  font-size: 4em;
}

main {
  display: flex;
  flex: 1;
}

article {
  flex: 1;
  padding: 10px;
}

nav, aside {
    flex: 0 0 12em;
}

nav {
  font-size: 1.2em;
  order: -1;
}

a {
  color: #FA255E;
}

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  color: #000
}

td, th {
  background-color: #FFF;
  text-align: left;
  padding: 12px;
}
